:root {
    --pw-white: #fff;
    --pw-black: #000;
    --pw-grey: #ccc;
    /* light variables */
    /* --pw-bg: #eee;
    --pw-main: #2f58a8;
    --pw-main-lighter: #4a76ce;
    --pw-heading: #2f58a8;
    --pw-warn: #ee0f0f; */
    /* dark variables */
    /* --pw-dark-bg: #000;
    --pw-dark-main: #ff4af4;
    --pw--heading: #41e1bb;
    --pw-dark-shadow: #333; */
    /* fonts */
    --pw-f-rubik: 'Rubik', sans-serif;
    --pw-f-roboto: 'Roboto', sans-serif;
}

.light {
    --pw-bg: #eee;
    --pw-bg-light: #ccc;
    --pw-main: #2f58a8;
    --pw-main-lighter: #4a76ce;
    --pw-heading: #2f58a8;
    --pw-warn: #ee0f0f;
}

.dark {
    --pw-bg: #000;
    --pw-bg-light: #eee;
    --pw-main: #41e1bb;
    --pw-main-lighter: #9bf0dc;
    --pw--heading: #ff4af4;
    --pw-warn: #333;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style-type: none;
}

html {
    font-family: var(--pw-f-rubik);
    background-color: var(--pw-main);
    font-size: 62.5%;
}

textarea {
    font-family: var(--pw-f-rubik);
}

body {
    background-color: var(--pw-bg);
    font-size: 1.25em;
    min-height: 100vh;
    color: var(--pw-main);
    font-weight: 500;
}

.letters-count {
    color: var(--pw-main);
    padding: 4px;
}

header {
    text-align: center;
    background-color: var(--pw-bg);
}

header h1 {
    padding: 0.6rem 0;
}

header p {
    color: var(--pw-main);
    font-weight: 700;
}

header .settings-icon-container {
    z-index: 5;
    position: absolute;
    left: 20px;
    top: 30px;
}

header .settings-icon {
    width: 25px;
    color: var(--pw-main);
    transition: all 400ms ease-in-out;
}

header .settings-icon-animate {
    transform: rotate(90deg);
    cursor: pointer;
    color: var(--pw-main-lighter);
}

header .settings-icon-moved {
    position: relative;
    -webkit-transform: translate(270px, 0px);
    -moz-transform: translate(270px, 0px);
    -ms-transform: translate(270px, 0px);
    -o-transform: translate(270px, 0px);
    transform: translate(270px, 0px);
    z-index: 5;
}

.settings-menu {
    position: absolute;
    top: 22px;
    left: -400px;
    z-index: 3;
    text-align: center;
    width: 320px;
    background-color: var(--pw-bg-light);
    border-radius: 1rem;
    font-size: 18px;
    padding: 0.2rem 0.4rem;
    transition: all 400ms ease-in;
}

.settings-menu-moved {
    -webkit-transform: translate(270px, 0px);
    -moz-transform: translate(270px, 0px);
    -ms-transform: translate(270px, 0px);
    -o-transform: translate(270px, 0px);
    transform: translate(400px, 0px);
}

.settings-menu h2 {
    font-size: 22px;
    margin: 0 0 1rem;
}

.themes-settings {
    display: flex;
    align-items: center;
    padding: 0.2rem 0.8rem;
}

.themes-options {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 2;
    position: relative;
    bottom: -2px;
    margin: 1rem 0;
}

.themes-options li {
    position: relative;
    transition: all 200ms ease-in-out;
}

.current-theme-highlight {
    border-bottom: 2px solid var(--pw-black);
}

.themes-options li::after {
    content: "";
    height: 18px;
    width: 18px;
    display: block;
    background-color: var(--pw-white);
    border-radius: 50%;
    border: 1px solid var(--pw-black);
    position: absolute;
    top: 3px;
    right: -24px;
}

.themes-options li:first-of-type::after {
    background-color: var(--pw-black);
}

.themes-options h3 {
    margin: 0 1rem 0 0;
}

.clearing-settings {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.2rem 0.8rem;
}

.clearing-options {
    margin-right: 3rem;
    margin-top: 2.4rem;
    align-self: center;
    position: relative;
    top: 10px;
}

.clearing-options li {
    position: relative;
    margin: 0 0 1rem;
    text-align: left;
}

.clearing-options li::after {
    content: "";
    width: 0px;
    height: 0px;
    display: block;
    background-color: transparent;
    border: 5px solid transparent;
    border-top: 5px solid var(--pw-main);
    position: absolute;
    top: 6px;
    right: -15px;
}

.clearing-storage-confirmation {
    position: absolute;
    background-color: var(--pw-bg-light);
    border-radius: 1rem;
    display: none;
    padding: 5px;
}

.clearing-storage-confirmation-active {
    display: flex;
}

.clearing-storage-confirmation button {
    padding: 2px 5px;
    display: block;
    border-radius: 1px solid var(--pw-black);
}

.clearing-storage-confirmation button:first-child {
    color: var(--pw-warn);
    font-weight: 300;
}

.clearing-storage-confirmation button:last-child {
    width: 144px;
    color: var(--pw-white);
}


/* .themes-settings {
    text-align: left;
} */

main {
    padding: 1rem;
}


/* .note-container {
    padding: 1rem;
    margin: 3em auto;
    background-color: var(--pw-white);
    color: var(--pw-black);
    border-radius: 1rem;
} */


/* .new-note {
    white-space: pre-wrap;
    padding: 5px;
    width: 100%;
    height: 120px;
    resize: none;
    border: none;
    background-color: var(--pw-white);
    outline-color: var(--pw-white);
    color: var(--pw--heading);
} */

.text-area-container {
    background-color: var(--pw-bg-light);
    max-width: 360px;
    margin: 2em auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    border-radius: 1rem;
}

.text-areas {
    border-radius: 1rem;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.generic-text-area {
    width: 100%;
    padding: 12px 6px;
    resize: none;
    border: none;
    outline: none;
    background-color: inherit;
    color: var(--pw-black);
    font-size: 15px
}

.title-text-area {
    font-weight: 700;
    font-size: 18px;
    height: min-content;
    width: 250px;
    word-break: normal;
    hyphens: auto;
}

.note-text-area {
    height: 100px;
    overflow: auto;
    border-radius: 0;
}

.letters-count {
    display: inline-block;
    min-width: 30px;
    color: var(--pw-black);
}

.labels {
    position: absolute;
    top: 1px;
    right: 2px;
    z-index: 2;
    display: flex;
    flex-direction: column;
}

.labels-button {
    width: min-content;
    min-width: 58px;
    text-align: center;
    align-self: center;
    margin-left: 94px;
}

.labels-container {
    position: relative;
    display: none;
    text-align: center;
    max-height: 180px;
    overflow-y: auto;
}

.show-labels-container {
    display: block;
    border-left: 1px solid var(--pw-black);
}

.add-new-label-button {
    display: block;
    position: absolute;
    right: 4px;
    top: 0px;
    font-size: 1rem;
    font-size: 1.5rem;
}

.add-new-label-button {
    background-color: var(--pw-main);
}

.add-new-label-button--warn {
    border: 2px solid var(--pw-warn);
}

.labels-text-area {
    background-color: var(--pw-bg-light);
    border-radius: 0;
    height: 42px;
}

.labels-list {
    background-color: var(--pw-main);
    color: var(--pw-black);
    width: 96%;
}

.labels-list li {
    padding: 2px 6px;
    border-bottom: 1px solid var(--pw-main-lighter);
    padding: 5px 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.remove-label-button {
    background-color: var(--pw-main);
    width: 15px;
    height: 15px;
    color: white;
    padding: 0 0 18px 0;
}

.remove-label-button:hover {
    cursor: pointer;
    background-color: var(--pw-main-lighter);
}

.current-note-labels {
    padding: 12px 0;
    color: var(--pw-black);
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: fit-content;
    min-height: 44px;
}

.label-span {
    border-radius: 1.1rem;
    background-color: var(--pw-main);
    color: var(--pw-black);
    font-weight: 400;
    padding: 5px 1px 5px 0;
    font-size: 12px;
    margin: 5px 1px 5px 3px;
    width: max-content;
}

.label-span span {
    display: inline-block;
    text-align: center;
    padding: 0px 7px;
}

.note-cta-buttons {
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    padding: 4px 0;
    background: var(--pw-grey);
    border-top: 1px solid royalblue;
}

.note-info {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.note-info div:first-child p {
    padding: 0 3px 3px;
    text-align: center;
}


/* the hour/date of a note div/paragraph */

.note-info>div:first-child {
    display: flex;
    flex-direction: row-reverse;
}


/* the last edited at paragraph */

.note-info>div:first-child p {
    align-self: flex-end;
    margin-right: 5px;
}

.note-info div:last-child {
    align-self: flex-end;
    padding: 4px;
}


/* editing a note */

.edit-note {
    border-left: 3px solid var(--pw-main-lighter);
}

.hide-button {
    display: none;
}


/* .note-date p:first-of-type{
    text-align: inherit;
} */


/*  */

button {
    border: none;
    padding: 0.5rem;
    margin: 0.5rem;
    background-color: var(--pw-main);
    color: var(--pw-white);
    border: none;
}

button:hover {
    background-color: var(--pw-main-lighter);
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--pw-main);
    color: var(--pw-black);
    font-weight: 700;
    font-size: 19px;
    text-transform: capitalize;
    height: 40px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 5px;
    text-align: center;
}

#toast {
    visibility: hidden;
    width: 260px;
    margin: auto;
    background: var(--pw-main);
    color: var(--pw-black);
    text-align: center;
    font-size: 16px;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 3;
    bottom: auto;
    right: 0;
    top: 50px;
    left: 0;
}

#toast.show {
    visibility: visible;
}

.delete-notice {
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-notice button {
    font-weight: 900;
    margin-left: 2rem;
    font-size: 19px;
}