:root {
	--pw-white: #fff;
	--pw-black: #000;
    /* light variables */
    --pw-light-bg: #eee;
	--pw-light-main: #2f58a8;
    --pw--light-heading: #e71e26;

    /* dark variables */
    --pw-dark-bg: #000;
    --pw-dark-main: #ff4af4;
    --pw--dark-heading: #41e1bb;

    /* fonts */
    --pw-f-rubik: 'Rubik', sans-serif;
    --pw-f-roboto: 'Roboto', sans-serif;

}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
    font-family: var(--pw-f-rubik);
	background-color: var(--pw-light-main);
	font-size: 62.5%;
}
.html-f-roboto {
    font-family: var(--pw-f-roboto)
}
body {
	background-color: var(--pw-light-bg);
	font-size: 1.25em;
	min-height: 100vh;
}
.dark-theme-body {
    background-color: var(--pw-dark-main);
}
h1 {
	color: var(--pw--light-heading);
}
.dark-theme-h1 {
    color: var(--pw--dark-heading);
}
.letters-count-light {
	color: var(--pw-light-main);
}
.letters-count-dark {
	color: var(--pw-dark-main);
}
header {
	text-align: center;
}
main {
	padding: 1rem;
}
.note-container {
	padding: 1rem;
	margin: 3em auto;
	background-color: var(--pw-white);
    color: var(--pw-black);
	border-radius: 1rem;
}
.new-note {
	white-space: pre-wrap;
	padding: 5px;
	width: 100%;
	height: 120px;
	resize: none;
	border: none;
	background-color: var(--pw-white);
	outline-color: var(--pw-white);
}
.text-area-container {
	max-width: 360px;
	margin: 2em auto;
}
.text-area-container  textarea {
	width: 100%;
	height: 100px;
	resize: none;
	padding: 5px;
	box-shadow: inset 0 0 5px #333;
	border-radius: 1rem;
	border: none;
	outline:none;
}
.letters-count {
    display: inline-block;
    min-width: 30px;
}
#add {
	float: right;
}
button {
	border: none;
	padding: 0.5rem;
	margin: 0.5rem;
	background-color: var(--pw-light-main);
	color: var(--pw-white);
	border: none;
}
footer {
	background-color: var(--pw-white);
	height: 40px;
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	padding: 5px;
	text-align: center;
}
#toast {
	visibility: hidden;
	width: 260px;
	margin: auto;
	background: rgba(0, 0, 0, 0.9);
	color: #fff;
	text-align: center;
	border-radius: 2px;
	padding: 16px;
	position: fixed;
	z-index: 1;
	top: auto;
	right: 0;
	bottom: 50px;
	left: 0;
}
#toast.show {
	visibility: visible;
}
